@font-face {
    font-family: "yekan";
    src: url("../font/yekan/Yekan Bakh EN 03 Light.ttf") format("woff2"),
         url("../font/yekan/Yekan Bakh EN 03 Light.ttf") format("woff");
}

.add-new-category-row{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top : 10px;
}

.accept-new-category-icon{
    font-size : 40px;
    color : #3f327a !important;
    cursor: pointer;
}


.new-category-input{
    margin-top : 4px !important;
    height : 31.25 !important;
    border : none !important;
}

.ant-input:active, .ant-input:focus, .ant-input:hover{
    box-shadow: none !important;
    box-shadow: 0px 0px 5px #d0cff9 !important;
    outline : none !important;
    border-color : #d0cff9;

}


.category-delete-icon{
    color : #7860dc;
    font-size : 10px !important;
}


.category-item:hover + .category-delete-icon{
    visibility: visible !important;
}


.delete-icon{
    color : gray;
    font-size : 20px !important;
}


.delete-icon:hover{
    color : #b49dcb;
    cursor : pointer;
}


.category-delete-icon:hover{
    visibility: visible !important;
}


.category-item-row{
    height : 0px;
    display: flex;
    align-items: flex-start;
    padding-bottom : 15px;
}



.category-item{
    text-overflow: hidden !important;
}

.category-item-name{
    margin-right : 15px;
    text-overflow: hidden !important;
}





.show-categorys{
    overflow-y : scroll;
    overflow-x : hidden;
    height : 43%;
    margin-top : 40px;

}


::-webkit-scrollbar{
    width : 10px;
    color : yellow;
}


::-webkit-scrollbar-track{
    background-color : #d4d4ce;
}


::-webkit-scrollbar-thumb{
    background-color : rgb(190, 190, 190);
    border-radius: 5px;

}


::-webkit-scrollbar-thumb:hover{
    background-color : #b49dcb;
    transition : 5s !important;
}


.category-text-icon{
    height : 18px;
}


.category-text-icon:hover > * {
    color : #403378;
}

.category-pop-icon{
    font-size : 17px;
    margin-top : -50px !important;
    cursor : pointer;
}


.category-pop-text{
    font-family: yekan;
    margin-right : 5px;
    font-size : 15px;
    margin-bottom : 20px;
    cursor : pointer;
    height : 10px;
}


.submit-edit-category{
    background-color : #00a900;
    color : white;
    border-radius : 3px !important;
}

.submit-edit-category:hover{
    background-color : green;
    color : white;
    box-shadow : none !important;
    border-color : green;
    outline : none !important;
}
