.form-label-signup{
    margin-top : -5px;
}

.form-submit-signup{
    margin-top : 5px;
}

.login-tools-signup{
    margin-top : 120px;
}


.ant-input:active, .ant-input:focus, .ant-input:hover{
    box-shadow: none !important;
    box-shadow: 0px 0px 5px #d0cff9 !important;
    outline : none !important;
    border-color : #d0cff9;

}
